<%= content_for :header_title do %>

    Contact us 

<% end %>

<%= content_for :header_sub_title do %>

    Find us here 

<% end %>

<h2>Contactenos</h2>


<ul>

<p><strong>Central telefonica</strong></p>

<p>242-5877</p>

<p><strong>Entel</strong></p>
<p>(99) 401*7227 - (99) 602*7397</p>

<p><strong>Rpc</strong></p>
<p>996027396</p>

<p><strong>Movistar</strong></p>
<p>996027397</p>

<p><strong>Email</strong></p>
<p>TaxiXpress@mail.com.pe</p>

</ul>


