<%= content_for :header_title do %>

    Servicios

<% end %>

<%= content_for :header_sub_title do %>

    Quienes Somos

<% end %>

<h2>Servicios</h2>


<ul>

<p><strong>Traslado de Pasajeros</strong></p>

<p>Con aire acondicionado, asientos forrados en cuero brindandole el confort, lunas antimpacto y polarizadas, choferes bilingues y puntualidad.
</p>

<p><strong>Traslado Especial de Pasajeros</strong></p>
<p>Este servicio brinda transporte con máxima seguridad a menores de edad, ancianos y discapacitados.</p>

<p><strong>Traslado y Recojo del Aeropuerto</strong></p>
<p>Servicio en la cual nuestra empresa previa coordinacion del cliente contratador, recoje y lleva del aeropuerto y viceversa al pasajero a un hotel o domicilio solicitado en el servicio.</p>

</ul>
