<%= content_for :header_title do %>

    Nosotros 

<% end %>

<%= content_for :header_sub_title do %>

    Quienes Somos

<% end %>

<h2>Nuestra Historia</h2>

<p>Somos una Empresa de Servicio de Taxi Remisse ejecutivo, nos caracterizamos por la puntualidad, responsabilidad y el compromiso con cada uno de nuestros clientes para brindarles un servicio de primer nivel.</p>

<p>Poseemos una flota de taxis cómodos y seguros que se orientan a los servicios: Remisse, normal, económico y ejecutivo. Nuestra vocación de servicio con un compromiso de seguridad y de continua mejora, nos ha permitido posicionarnos como una empresa peruana líder en soluciones para sus negocios, turismo y recreación</p>


<h2>Quienes somos nosotros</h2>

<p>Nuestros actuales lideres de el proyecto Taxi Xpress:</p>


<ul>

<li>SANCHEZ BUSTAMANTE, ROBERTH  – Executive Manager </li>

<li>    CALDERON AYALA, ANGEL        – Executive Manager </li>

<li>GUTIERREZ MEDRANO, CHRISTIAN – Executive Manager </li>

<li>QUISPE VALERO, EFRAIN        – Executive Manager </li>

<li>FLORES OBREGON JHON YORDAN   – Executive Manager </li>

</ul>

